<h1><%=@event.name%></h1>
<%= "Creator of this event is #{@event.creator.name}"%>
<br>
<h2>People comming</h2>
<%@event.attendments.each do |attendment|%>
  <%= "#{attendment.attendee.name}"%>
<%end%>
